@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="QuizSelect">Test</a>

        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="StudySelect">Study</a>
</div>
