
@{
    ViewData["Title"] = "StudySelect";
}

<h1>Choose what you want to study</h1>

<div class="row">
    <div class="card" style="width:350px">
        <img class="card-img-top" src="~/css/Images/Singinkids.png" alt="Card image">
        <div class="card-body"></div>
        <div class="card-footer">
<<<<<<< HEAD
            <h3 class="card-title">Scales</h3>
            <a href="StudyScales" class="btn btn-primary">Start</a>
=======
            <h3 class="card-title">Songs</h3>
            <a href="Index" class="btn btn-primary disabled">Start</a>
>>>>>>> b830e11543be9bdeeeafccb12826682fae25cde1
        </div>
    </div>

    <div class="card" style="width:350px">
        <img class="card-img-top" src="~/css/Images/NoteNames.png" alt="Card image">
        <div class="card-body"></div>
        <div class="card-footer">
            <h3 class="card-title">Note Names</h3>
            <a href="StudyNotes" class="btn btn-primary">Start</a>
        </div>
    </div>

    <div class="card" style="width:350px">
        <img class="card-img-top" src="~/css/Images/Ear Training.jpg" alt="Card image">
        <div class="card-body"></div>
        <div class="card-footer">
            <h3 class="card-title">Intervals</h3>
            <a href="Index" class="btn btn-primary disabled">Start</a>
        </div>
    </div>
</div>

